<div class="container text-center">
  
  <h3 class="goals-title"><span>目標を決めよう！</span></h3>
  
  <div>
    <div class="box2">
      
       <%= form_with model: @new_goal, local: true do |f| %>
  
       <div class="form-with box-item">
         <%= f.date_field :expiration_date %>までに
       </div>
      
       <div class="form-with box-item">
         <%= f.number_field :weight %> kgになる！
       </div>
      
       <%= f.submit "登録", class: "btn btn-primary item"%>
  
       
      <% end %>
    </div>

    <% if @goal.present? %>
      <h5 class="goals-item">
        
        <p>
          <%= @goal.expiration_date.strftime("%Y年%-m月%-d日") %>までに<%= @goal.weight %>kg
        </p>
        <p>
          目標まであと<%= (@goal.expiration_date - Date.current).to_i %>日で
         <%= current_user.weight_to_target.positive? ? '+' : '' %><%= current_user.weight_to_target  %>kgです！ 
        </p>
        <p>
          1日の摂取カロリーを<%= current_user.ingestible_calories_rounding %>kcal<%= current_user.suppress_ingest %>と目標達成です！
        </p>
        
      </h5>
    <% end %>
      
     </div>
  </div>
</div>