<%= form_with model: @exercise, local: true, method: "patch" do |f| %>
 <div class="form_with">
  
   <label>日付</label>
   <%= f.date_field :date, class: "form_control" %>
   
   <label>運動</label>
   <%= f.select :work_id, Work.all.pluck(:name, :id), { include_blank: '選択してください'}, class: "form_control" %>
   
 </div>
 <%= link_to "戻る", exercises_path, class: "btn btn-secondary" %>
 <%= f.submit "更新", class: "btn btn-primary"%>

<% end %>