<h3 class="title">運動登録</h3>

<%= form_with model: @exercise, local: true do |f| %>
 <div class="form-with item">
   <h4>今日の運動を登録しよう！</h4>
 </div>
   
 <div class="form-with item">
   <label>運動</label>
   <%= f.select :work_id, Work.all.pluck(:name, :id), { include_blank: '選択してください'}, class: "form-control" %>
 </div>

 <div class="form-with item">
   <label>時間(h)</label>
   <%= f.number_field :time, class: "form-control" %>
 </div>

 <%= link_to "戻る", exercises_path, class: "btn btn-secondary item" %>
 <%= f.submit "登録", class: "btn btn-primary item"%>
<% end %>



